<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>



    <link media="all" rel="stylesheet" th:href="@{/css/darkstyle.css}" type="text/css"/>


</head>

<body>
<h1>Sign In Form</h1>
<div id="wrapper">
    <form id="signin" method="post" th:action="@{/login}" autocomplete="off">
        <input type="text" id="user" name="username" placeholder="login" />
        <input type="password" id="pass" name="password" placeholder="password" />
        <button type="submit">&#xf0da;</button>
        <p>for registration <a th:href="@{/registration}">click here</a></p>
        <p>forgot your password? <a href="#">click here</a></p>
    </form>
</div>


</body>
</html>
