<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>



    <link media="all" rel="stylesheet" th:href="@{/css/darkstyle.css}" type="text/css"/>


</head>

<body>
<h1>Registration Form</h1>
<div id="wrapper">
    <form id="signin" method="post" th:action="@{/registration}" autocomplete="off">
        <input type="text" id="user" name="login" placeholder="login" />
        <input type="password" id="pass" name="password" placeholder="password" />
<!--        <input type="password" id="pass1" name="passwordconfirm" placeholder="confirm password" />-->
        <button type="submit">&#xf0da;</button>
        <p>return to login page <a th:href="@{/darklogin}">click here</a></p>
<!--        <p>forgot your password? <a href="#">click here</a></p>-->
    </form>
</div>


</body>
</html>
